    <section>
      <div class="row">
        <button
          id="toggleCampaignPane"
          class="pane-toggle"
          type="button"
          aria-controls="campaignInputPane"
          aria-expanded="true"
        >
          Hide campaign input
        </button>
        <button
          id="toggleCharacterPane"
          class="pane-toggle"
          type="button"
          aria-controls="characterInputPane"
          aria-expanded="true"
        >
          Hide character input
        </button>
        <button
          id="toggleBattleSetupPane"
          class="pane-toggle"
          type="button"
          aria-controls="battleSetupInputPane"
          aria-expanded="true"
        >
          Hide battle setup input
        </button>
        <button
          id="toggleMonsterPane"
          class="pane-toggle"
          type="button"
          aria-controls="monsterInputPane"
          aria-expanded="true"
        >
          Hide monster input
        </button>
        <button
          id="toggleCharacterDisplayPane"
          class="pane-toggle"
          type="button"
          aria-controls="characterDisplayPane"
          aria-expanded="true"
        >
          Hide character display
        </button>
        <button
          id="toggleMonsterDisplayPane"
          class="pane-toggle"
          type="button"
          aria-controls="monsterDisplayPane"
          aria-expanded="true"
        >
          Hide monster display
        </button>
      </div>
    </section>

