    <section>
      <div class="row">
        <h2>Battle</h2>
        <span id="battleState" class="battle-state inactive">
          Inactive
        </span>
      </div>
      <div class="row">
        <button id="startBattle" class="battle">Start battle</button>
        <button id="nextBattle" class="battle">Next</button>
        <button id="endBattle" class="danger">End battle</button>
        <button id="resetAll" class="reset">Reset All</button>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row">
        <span id="battleInfo"></span>
      </div>
    </section>

